<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Title{% endblock %}</title>

    <link rel="icon" href="/static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <img src="/static/images/main.jpg" alt="Logo">
        <h1>ZINNE</h1>
    </header>

    <main>
        {% block content %}{% endblock %}

        {% if request.endpoint != 'index' %}
            <section class="section">
                <a href="/" class="button">Zurück zur Startseite</a>
            </section>
        {% endif %}
    </main>

    <footer>
        <p>&copy; Jonas Zinnecker. Alle Rechte vorbehalten.</p>
    </footer>

    <script src="/static/js/main.js"></script>
</body>
</html>
