<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fehler</title>

    <link rel="icon" href="/static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/styles.css">

    <style>
        body {
            background-color: #f8f9fa;
            color: #333;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <div>
        <h1>{{ error_code }} | {{ error_message }}</h1>

        <section class="section">
            <a href="/" class="button">Zurück zur Startseite</a>
        </section>
    </div>
</body>
</html>