{% extends 'base.html' %}

{% block title %}Export Matches{% endblock %}

{% block content %}
    <section class="section">
        <h2>Matches exportieren</h2>

        <form method="POST" action="/export_matches">
            <input 
                type="url" name="url" class="url-input" autocomplete="off" 
                placeholder="URL der 'Matches' Seite" 
                required pattern="https?://.+"
            >
            
            <div>
                <button type="submit" name="export_matches">Exportieren</button>
            </div>
        </form>

        <div id="loadingIndicator" style="display: none;">
            <div class="spinner"></div>
            <p>Laden...</p>
        </div>

        {% if file_exported %}
            <script>
                window.onload = function() {
                    window.location.href = "/download_matches";
                };
            </script>
        {% endif %}
    </section>
{% endblock %}